<section class="propertt-binding">
    <article>
        <h3>Interpolation</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
        <p>Resultado de 1 = 1 não é: {{ 1 + 1 + getValor() }}</p>
        <p>Gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <!-- <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}">
        <img [src]="urlImage">
        <img bind-src="urlImage">
    </article> -->

    <h2>Event Biding</h2>
    <button (click)="alertaInfo($event)">Evento</button>

    <div  (mousemove)="mouseMoveTeste($event)" style="background: red; width: 300px; height: 300px;"></div>

    {{position.x}} - {{position.y}} = {{  position.x - position.y }}

</section>